   html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, 
   blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, 
   img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, 
   i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, 
   caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, 
   embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
   ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font-family: 'Cotta';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, 
   nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/*            FONTS           */
@font-face {
    font-family: 'Cotta';
    src: url('.\Library\Fonts\cotta-free.otf') format(opentype);
     /*opentype (OTF) / truetype (ttf)*/
}

/*          START             */
#menu-home{
    background-color: #A288E3;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 39px 'Cotta';
    padding-left: 4.35em;
}
.icon-home{
    float: left;
    width: 89.05px;
    height: 135.54px;
    padding-top: 0.755em;
}
.menu-buttons{
    margin-top: 1.48em;
    margin-right: 2.02em;
}
.menu-buttons a{
    width: 166px;
    height: 39px;
    text-decoration: none;
    color: #C6D8AF;
    margin-left: 2.02em;
}
#presentation{
    background-color: #A288E3;
    display: flex;
    margin-right: auto;
    padding-left: 159px;

}
.introduction{
    background-color: #A288E3;
    padding: 0;
    margin-top: 55px;
}
.introduction-text h1{
    width: 581px;
    height: 339px;
    font: normal normal normal 129px/168px 'Cotta';
    color: #C6D8AF;
    margin-bottom: 38px;
}
.introduction-text h2{
    width: 600px;
    height: 115px;
    text-align: left;
    font: normal normal normal 25px/30px 'Cotta';
    color: #3B5760;
    opacity: 1;
}
.introduction-text img{
    margin-top: 55px;
    border-radius: 30px;
    width: 600px;
    height: 164px;
}
.block-2{
    display: grid;
    margin: 50px 0px 0px 38px;
    grid-template-columns: repeat(5, 10fr);
    grid-auto-rows: 300px 134px;
    grid-column-gap: 38px;
}
.img1{
    grid-column-start: 1;
    grid-column-end: 0;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img2{
    grid-column-start: 2;
    grid-column-end: 0;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 0;
}
.img4{
    grid-column-start: 6;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 3;
}
#menu-subhome{
    background: #C6D8AF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 39px 'Cotta';
    padding-left: 4.35em;
}
.icon-submenu{
    float: left;
    width: 89.05px;
    height: 135.54px;
    padding-top: 0.755em;
}
.submenu-buttons{
    margin-top: 1.48em;
    margin-right: 2.02em;
}
.submenu-buttons a{
    width: 166px;
    height: 39px;
    text-decoration: none;
    color:#A288E3;
    margin-left: 2.02em;
}
#contact-us{
    display: flex;
    align-items: center;
    background: #C6D8AF 0% 0% no-repeat padding-box;
    padding-left: 161px;
}
.forms-contact a{
    width: 799px;
    height: 81px;
    letter-spacing: 0px;
}
.text-contact{
    padding-top: 116.11px;
    text-align: left;
    font: normal normal normal 81px Cotta;
    color: #A288E3;
    opacity: 1;
}
.forms-inputs div{
    width: 794px;
    padding-top: 60px;
    padding-bottom: 16px;
}
.forms-inputs input#name{
    width: 794px;
    height: 25px;
    background-color: #C6D8AF;
    text-align: left;
    font: normal normal normal 25px/33px Cotta;
    letter-spacing: 0px;
    color: #3B5760;
    opacity: 1;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 1px solid #3B5760;
}
.forms-inputs input#email{
    width: 794px;
    height: 25px;
    background-color: #C6D8AF;
    text-align: left;
    font: normal normal normal 25px/33px Cotta;
    letter-spacing: 0px;
    color: #3B5760;
    opacity: 1;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 1px solid #3B5760;
}
.forms-inputs input#tel{
    width: 794px;
    height: 25px;
    background-color: #C6D8AF;
    text-align: left;
    font: normal normal normal 25px/33px Cotta;
    letter-spacing: 0px;
    color: #3B5760;
    opacity: 1;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 1px solid #3B5760;
}
.send button{
    width: 181px;
    height: 62px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    background: #A288E3 0% 0% no-repeat padding-box;
    border-radius: 13px;
    font: normal normal normal 39px/51px Cotta;
    letter-spacing: 0px;
    color: #C6D8AF;
    opacity: 1;
    align-items: center;
}

.send img{
    height: 31.91px;
    width: 31.91px;
    background-image: d="M.012,20.686,24.446,10.343.012,0,0,8.044l17.462,2.3L0,12.641Z" transform="translate(0 17.286) rotate(-45)" fill="#c6d8af
}
.photo-contact svg{
    position: absolute;
    width: 740px;
    height: 735px;
    margin-left: 126px;
}
.photo-contact img{
    padding-left: 200px;
    padding-top: 40px;
}
.social-media{
    display: flex;
    width: 36px;
    height: 36px;
    padding-top: 93px;
    padding-bottom: 233px;
}
.social-media div{
    margin-right: 16px;
}
/* MEDIA QUERIES*/