   html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, 
   blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, 
   img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, 
   i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, 
   caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, 
   embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
   ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font-family: 'Cotta';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, 
   nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/*            FONTS           */
@font-face {
    font-family: 'Cotta';
    src: url('.\Library\Fonts\cotta-free.otf') format(opentype);
     /*opentype (OTF) / truetype (ttf)*/
}

/*          START             */

#menu-home{
    background-color: #A288E3;
    width: auto;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 39px 'Cotta';
    padding-left: 4.35em;
}
.icon-home{
    padding-top: 0.755em;
}
.menu-buttons{
    margin-top: 1.48em;
    margin-right: 2.02em;
}
.menu-buttons a{
    text-decoration: none;
    color: #C6D8AF;
    margin-left: 2.02em;
}
#presentation{
    display: flex;
    background-color: #A288E3;
    width: auto;
    padding-left: 9.937em;  /*159px*/
    padding-bottom: 9.12em;   /*146px*/
}
.introduction{
    margin-top: 1.44em; /*55px*/
}
.introduction-text h1{
    width: 581px;
    height: 339px;
    font: normal normal normal 129px/168px 'Cotta';
    color: #C6D8AF;
    margin-bottom: 69px; /*69*/
}
.introduction-text h2{
    width: 600px;
    height: 115px;
    text-align: left;
    font: normal normal normal 25px/30px 'Cotta';
    color: #3B5760;
    opacity: 1;
}
.introduction-text img{
    margin-top: 55px;
    border-radius: 30px;
    width: 37.5em; /*600px;*/
    height: 10.25em; /*164px*/
}
.block-2{
    display: grid;
    margin: 50px 0px 0px 38px;
    grid-template-columns: repeat(4, 4fr);
    grid-auto-rows: 300px 134px;
    grid-column-gap: 38px;
}
.img1{
    grid-column-start: 1;
    grid-column-end: 0;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img2{
    grid-column-start: 2;
    grid-column-end: 0;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 0;
}
.img4{
    grid-column-start: 6;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 3;
}
#menu-subhome{
    background-color: #C6D8AF;
    display: flex;
    width: auto;
    justify-content: space-between;
    font: normal normal normal 39px 'Cotta';
    padding-left: 4.35em;
}
.icon-submenu{
    padding-top: 0.755em;
}
.submenu-buttons{
    margin-top: 1.48em;
    margin-right: 2.02em;
}
.submenu-buttons a{
    text-decoration: none;
    color:#A288E3;
    margin-left: 2.02em;
}
#contact-us{
    display: flex;
    width: auto;
    background: #C6D8AF 0% 0% no-repeat padding-box;
    padding-left: 10.06em; /*161px*/
}
.text-contact{
    padding-top: 1.43em; /*116px*/
    text-align: left;
    font: normal normal normal 81px Cotta;
    color: #A288E3;
    opacity: 1;
}
.forms-inputs div{
    padding-top: 60px;
    padding-bottom: 16px;
}
.forms-inputs input{
    width: 32em; /*794px 30*/
    background-color: #C6D8AF;
    text-align: left;
    font: normal normal normal 25px/33px Cotta;
    letter-spacing: 0px;
    color: #3B5760;
    opacity: 1;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 1px solid #3B5760;
}
.send button{
    width: 4.641em; /*181px*/
    height: 1.58em; /* 62px*/
    box-shadow: 0 0 0 0;
    border: 0 none;
    background: #A288E3 0% 0% no-repeat padding-box;
    border-radius: 13px;
    font: normal normal normal 39px/51px Cotta;
    color: #C6D8AF;
    align-items: center;
}
.send img{
    background-image: d="M.012,20.686,24.446,10.343.012,0,0,8.044l17.462,2.3L0,12.641Z" transform="translate(0 17.286) rotate(-45)" fill="#c6d8af
}
.photo-contact svg{
    position: absolute;
    margin-left: 8em; /*126px*/
}
.photo-contact img{
    position: absolute;
    padding-left: 13em; /*200px*/
    padding-top: 2.8em; /*40px*/
}
.social-media{
    display: flex;
    padding-top: 5.81em; /*93px*/
    padding-bottom: 14.56em; /*233px*/
}
.social-media div{
    margin-right: 1em;
}
#menu-home-cases{
    background-color: #3B5760;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 39px 'Cotta';
    padding-left: 300px;
}
.icon-home-cases{
    padding-top: 0.755em;
}
.menu-buttons-cases{
    margin-top: 1.48em;
    margin-right: 2.02em;
}
.menu-buttons-cases a{
    text-decoration: none;
    color: #C6D8AF;
    margin-left: 2.02em;
}
#section-cases{
    background-color: #3B5760;
    padding-left: 310px;
    padding-top: 30px;
    padding-right: 260px;
}
.text-cases h1{
    font-size: 100px;
    color: #A288E3;
    text-align: left;
}
.text-cases h3{
    color: #C6D8AF;
    font: normal normal normal 25px/30px Cotta;
}
.text-inc{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}
.text-inc h3{
    font: normal normal normal 25px/30px Cotta;
    color: #C6D8AF;
}
.text-inc a{
    text-decoration: underline;
    color: #A288E3;
}
#box-sket{
    padding-top: 70px;
    display: flex;
    background-color: #3B5760;
    padding-left: 300px;
}
#box-sket img{
    width: 271px;
    height: 267px;
    border-radius: 30px;
    margin-right: 31px;
}
#last-text{
    background-color: #3B5760;
    padding-bottom: 57px;
    padding-left: 300px;
    padding-top: 9px;
    padding-right: 380px;

}
#last-text h3{
    text-align: left;
    font: normal normal normal 16px/30px Cotta;
    letter-spacing: 0px;
    color: #C6D8AF;
    opacity: 1;
}






/* MEDIA QUERIES*/
/*MAX-WIDTH*/
@media (width <= 300px) {
    
}
/*min-width / max-width*/
@media (300px < width <= 500px ){
}

@media (width<=1920px){
   Body{
    margin: auto;
   }
}

@media (width<= 1680px){
    #presentation{
        margin: auto;
        padding-left: 1.9369999999999994em;
}
    .photo-contact img{
        padding-left: 4em;
    }
    .photo-contact svg{
        margin-left: -1em;
    }
    #contact-us{
        padding-left: 1.9369999999999994em;
    }
    .block-2 img{
        max-width: 500px
    }
}